.bg-aqua {
    background-color: #d6d31a !important;
}

.bg-green {
    background-color: #1dd61a !important;
}

.bg-yellow {
    background-color: #1ac5d6 !important;
}

.bg-red {
    background-color: #bc1ad6;
}

.header {
    background-color: #051e2b !important;
}


.a {
    background-color: #0a3851 !important;
}

.a:hover {
    background-color: #0a3851 !important;    
} 
